<?xml version="1.0"?>
<config>
  <modules>
    <Creare_CreareSeoCore>
      <version>1.0.0</version>
    </Creare_CreareSeoCore>
  </modules>
  <adminhtml>
    <layout>
      <updates>
        <creareseocore>
          <file>creareseo_admin.xml</file>
        </creareseocore>
      </updates>
    </layout>
  </adminhtml>
  <admin>
    <routers>
      <adminmodule>
        <use>admin</use>
        <args>
          <module>Creare_CreareSeoCore</module>
          <frontName>creareseo</frontName>
        </args>
      </adminmodule>
    </routers>
  </admin>
  <global>
    <models>
      <creareseocore>
        <class>Creare_CreareSeoCore_Model</class>
        <resourceModel>cleanup_mysql4</resourceModel>
      </creareseocore>
    </models>
    <helpers>
      <creareseocore>
        <class>Creare_CreareSeoCore_Helper</class>
      </creareseocore>
    </helpers>
  </global>
  <crontab>
    <jobs>
      <creare_creareseocore>
        <schedule>
          <cron_expr>0 1 * * *</cron_expr>
        </schedule>
        <run>
          <model>creareseocore/cleanup::docleanup</model>
        </run>
      </creare_creareseocore>
    </jobs>
  </crontab>
  <frontend>
    <events>
        <controller_action_layout_generate_xml_before>
          <observers>
            <noindex>
              <type>singleton</type>
              <class>creareseocore/observer</class>
              <method>changeRobots</method>
            </noindex>
          </observers>
        </controller_action_layout_generate_xml_before>
        <http_response_send_before>
          <observers>
            <creareseo_keyword>
              <type>singleton</type>
              <class>creareseocore/observer</class>
              <method>applyTag</method>
            </creareseo_keyword>
          </observers>
        </http_response_send_before>
    </events>
  </frontend>
</config>